In [2]:
import pandas as pacd
data1 = pd.read_csv(r'C:\Users\Aditya\Desktop\churndata1.csv')

In [3]:
print(data1)

            id  Premium  Age  Gender  Income  ChronicDis  Terminations
0            1      187   40       1   34687           1             0
1            2      965   21       1   77481           1             0
2            3      713   64       1   64016           1             0
3            4      441   27       1    5169           0             0
4            5      116   23       1   80719           0             0
...        ...      ...  ...     ...     ...         ...           ...
149891  149892      219   40       2   84605           0             0
149892  149893      655   24       2   48799           0             0
149893  149894      732   10       2   52499           0             0
149894  149895      371   24       2   65964           1             0
149895  149896      906   11       2   54088           1             0

[149896 rows x 7 columns]

In [4]:
data1.head(15)

    id  Premium  Age  Gender  Income  ChronicDis  Terminations
0    1      187   40       1   34687           1             0
1    2      965   21       1   77481           1             0
2    3      713   64       1   64016           1             0
3    4      441   27       1    5169           0             0
4    5      116   23       1   80719           0             0
5    6      194   23       1   98191           0             0
6    7      828   29       1   25464           1             0
7    8      387   23       2   57666           1             0
8    9      492   32       1   45719           1             0
9   10        5   23       2   44404           0             0
10  11      142   30       1   67449           0             0
11  12      127   65       2   64330           1             0
12  13      567   23       1   72293           1             0
13  14      776   27       2   47400           1             0
14  15      805   56       2   19222           0             0

In [5]:
data1.shape

(149896, 7)

In [6]:
data2 = data1[['id','Age','Income']].head(3)

In [7]:
print(data2)

   id  Age  Income
0   1   40   34687
1   2   21   77481
2   3   64   64016

In [8]:
print(data1.describe())

                  id        Premium            Age         Gender  \
count  149896.000000  149896.000000  149896.000000  149896.000000
mean    74948.500000     505.977685      31.982374       1.644160
std     43271.392313     290.337344      17.790283       0.478769
min         1.000000       0.000000       0.000000       1.000000
25%     37474.750000     254.000000      24.000000       1.000000
50%     74948.500000     509.000000      24.000000       2.000000
75%    112422.250000     759.000000      46.000000       2.000000
max    149896.000000    1000.000000      70.000000       2.000000

              Income     ChronicDis  Terminations
count  149896.000000  149896.000000      149896.0
mean    48849.349035       0.690666           0.0
std     29472.401132       0.462221           0.0
min       100.000000       0.000000           0.0
25%     23295.000000       0.000000           0.0
50%     48665.000000       1.000000           0.0
75%     74569.000000       1.000000           0.0
max     99996.000000       1.000000           0.0

In [9]:
print(data1.count())

id              149896
Premium         149896
Age             149896
Gender          149896
Income          149896
ChronicDis      149896
Terminations    149896
dtype: int64

In [10]:
data3 = data1.drop(['id','Income'],axis=1)

In [11]:
print(data3)

        Premium  Age  Gender  ChronicDis  Terminations
0           187   40       1           1             0
1           965   21       1           1             0
2           713   64       1           1             0
3           441   27       1           0             0
4           116   23       1           0             0
...         ...  ...     ...         ...           ...
149891      219   40       2           0             0
149892      655   24       2           0             0
149893      732   10       2           0             0
149894      371   24       2           1             0
149895      906   11       2           1             0

[149896 rows x 5 columns]

In [12]:
data4 = data1.rename(columns={'Age':'id_number'})

In [13]:
print(data4)

            id  Premium  id_number  Gender  Income  ChronicDis  Terminations
0            1      187         40       1   34687           1             0
1            2      965         21       1   77481           1             0
2            3      713         64       1   64016           1             0
3            4      441         27       1    5169           0             0
4            5      116         23       1   80719           0             0
...        ...      ...        ...     ...     ...         ...           ...
149891  149892      219         40       2   84605           0             0
149892  149893      655         24       2   48799           0             0
149893  149894      732         10       2   52499           0             0
149894  149895      371         24       2   65964           1             0
149895  149896      906         11       2   54088           1             0

[149896 rows x 7 columns]

In [14]:
print(data1)

            id  Premium  Age  Gender  Income  ChronicDis  Terminations
0            1      187   40       1   34687           1             0
1            2      965   21       1   77481           1             0
2            3      713   64       1   64016           1             0
3            4      441   27       1    5169           0             0
4            5      116   23       1   80719           0             0
...        ...      ...  ...     ...     ...         ...           ...
149891  149892      219   40       2   84605           0             0
149892  149893      655   24       2   48799           0             0
149893  149894      732   10       2   52499           0             0
149894  149895      371   24       2   65964           1             0
149895  149896      906   11       2   54088           1             0

[149896 rows x 7 columns]

In [15]:
print(data1.iloc[3])

id                 4
Premium          441
Age               27
Gender             1
Income          5169
ChronicDis         0
Terminations       0
Name: 3, dtype: int64

In [16]:
print(data1[3:4])

   id  Premium  Age  Gender  Income  ChronicDis  Terminations
3   4      441   27       1    5169           0             0

In [18]:
print(data1.isnull().sum())

id              0
Premium         0
Age             0
Gender          0
Income          0
ChronicDis      0
Terminations    0
dtype: int64